
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Сайт для гостиницы</h1>
    <div>
        Здравствуйте! Вы @ViewBag.VisitorNumber посетитель за сегодня!<br />
        Сегодня на календаре: @ViewBag.DateAndTime
    </div>
</body>
</html>
